.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 12px 2%;
    box-shadow: -1px -1px 4px 0px #101113;
}
.linkContainer{
    display: flex;
    align-items: center;
}

.linkContainer a{
    padding: 0px 15px;
    text-decoration: none;
    color: #000;
}